extends ../components/template.pug
block content
  h1 I am a Girl. So what?
  .gallery
    img(src="/images/photos/GIRL1.jpg")
    img(src="/images/photos/GIRL2.jpg")
    img(src="/images/photos/GIRL3.jpg")
    img(src="/images/photos/GIRL4.jpg")
