#banner
  h1 Hester Acharya
  #nav
    a(href='/') home
    a(href='/about') about
    a(href='/photography') photography
    a(href='/portraits') portraits
    a(href='/illusions') illusions
    a(href='/girl') I am a girl
