doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Hester Acharya
  link(rel='stylesheet' href='/css/main.css')
  link(rel='stylesheet' href='/css/banner.css')
  link(rel="icon" type="image/png" href="/favicon.png")
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-148600696-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-148600696-1');
body
  span(style="font-family: 'Work Sans'; display: none;") &nbsp;
  include ./banner.pug
  #content
    block content
