extends ../components/template.pug
block content
  h3 wet film photography
  .gallery.left
    p images here
  h3 digital
  .gallery.left
    p and here
  h3 portrait
  .gallery.left
    img(src="/images/photos/PORTRAIT1.jpg")
